html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	text-shadow: none;
}

@font-face {
	font-family: 'Narkisblock medium';
	src: url('../fonts/NarkisBlock-Medium.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Narkisblock regular';
	src: url('../fonts/NarkisBlock-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'NarkisBlock Thin';
	src: url('../fonts/NarkisBlockThin-Regular.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

#wrapper {
	text-shadow: none;
}

.mainPageBg {
	background-color: #32302e;
}

.innerPlace {
	margin: 10px;
	height: 100%;
	width: 100%;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
#introMap {
	background-image: url(../images/Intro_mapsquares.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 35%;
	width: 100%;
	height: 70vh;
}

#mapArea {
	width: 55%;
	height: 100vh;
	float: left;
	display: block;
	/*position: fixed;*/
	background-color: #fff4e7;
	z-index: 1;
}

#logo {
	width: 300px;
	height: 80px;
	float: right;
	display: inline-block;
	background-image: url(../images/Intro_Logo.svg);
	background-size: 160px;
	background-repeat: no-repeat;
	background-position: right;
	position: relative;
	z-index: 1;
	margin-right: 10%;
	margin-bottom: 10px;
}

#rightSide {
	width: 45%;
	height: auto;
	float: right;
	display: inline-block;
}

#categorySection {
	width: 100%;
	height: 85vh;
	display: inline-block;
	background-color: #3f3d39;
}

.mapHeadText {
	display: block;
	/*margin: 5% 20%;*/
	float: none;
	direction: rtl;
	font-family: 'Narkisblock regular', sans-serif;
	color: #3f3d39;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
	list-style-type: none;
}

.headText {
	text-shadow: none;
	margin-bottom: 5px;
	margin-right: 10%;
	margin-left: 10%;
	float: right;
	direction: rtl;
	font-family: 'Narkisblock regular', sans-serif;
	color: #b2aba1;
	font-size: 20px;
	font-weight: 400;
}

.expText {
	font-family: 'Narkisblock regular', sans-serif;
	color: #fff4e7;
	line-height: 23px;
	letter-spacing: 0.05px;
	text-shadow: none;
	margin: 0px;
	margin-right: 10%;
	margin-left: 10%;
	float: right;
	direction: rtl;
}
.srcText {
	font-family: 'Narkisblock regular', sans-serif;
	color: #b2aba1;
	line-height: 23px;
	letter-spacing: 0.05px;
	text-shadow: none;
	margin: 0px;
	margin-right: 10%;
	margin-left: 10%;
	float: right;
	direction: rtl;
	width: 90%;
}

#iconsSection {
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	height: 50%;
}

.iconElement {
	float: right;
	display: inline-block;
	margin-top: 10px;
	margin-left: 30px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.iconElement:hover {
	opacity: 1;
	-webkit-transform: translate(0px, -3px);
	-ms-transform: translate(0px, -3px);
	transform: translate(0px, -3px);
}

.icon-category {
	display: block;
	width: 100%;
	margin: 5% auto 2%;
}
.icon-category:hover {
	opacity: 1;
	-webkit-transform: translate(0px, -3px);
	-ms-transform: translate(0px, -3px);
	transform: translate(0px, -3px);
}

.iconText {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-right: 3px;
	direction: rtl;
	font-family: 'NarkisBlock Thin', sans-serif;
	color: #b2aba1;
	font-size: 16px;
	line-height: 17px;
	text-align: center;
	/*letter-spacing: 1px;*/
	text-shadow: none;
}

#placeHolder {
	float: right;
	height: 0px;
	width: 100%;
}

.selectedCategory {
	position: relative;
	top: 55px;
	right: -70px;
	display: inline-block;
	width: 40%;
	height: 40%;
	max-height: 300px;
	max-width: 300px;
	min-height: 200px;
	min-width: 200px;
	float: left;
}

.upper-left-box {
	position: static;
	width: 200px;
	height: 200px;
	float: left;
	clear: none;
	border-top: 3px dotted #3f3d39;
	border-left: 3px dotted #3f3d39;
	background-color: rgba(63, 61, 57, 0.29);
}
.upper-left-box.upper-right-box {
	position: relative;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	max-height: 200px;
	max-width: 200px;
	min-height: 100px;
	min-width: 100px;
	border-right: 3px dotted #3f3d39;
	border-left-width: 0px;
}
.upper-left-box.downer-right-box {
	position: relative;
	border-style: none dotted dotted none;
	border-right-width: 3px;
	border-right-color: #3f3d39;
	border-bottom-width: 3px;
	border-bottom-color: #3f3d39;
}
.upper-left-box.downer-left-box {
	position: relative;
	border-bottom: 3px dotted #3f3d39;
	border-top-style: none;
	border-top-width: 0px;
}

.map-with-squares {
	position: absolute;
	left: 0px;
	top: 80px;
	right: 0px;
	bottom: 0px;
	display: block;
	min-height: 300px;
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	z-index: 1;
}

.upper-left-square-icon {
	position: absolute;
	right: 0px;
	bottom: 0px;
	float: left;
}
.upper-right-square-icon {
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.lower-right-square-icon {
	position: absolute;
	left: 0px;
	top: 0px;
}
.lower-left-square-icon {
	position: absolute;
	top: 0px;
	right: 0px;
}

.footer {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 20;
	height: 3%;
	background-color: #32312e;
}

.credits {
	display: block;
	margin-top: 0.2%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1%;
	padding-right: 0%;
	padding-left: 0%;
	float: none;
	direction: rtl;
	font-family: 'NarkisBlock Thin', sans-serif;
	color: #b2aba1;
	font-size: 13px;
	line-height: 23px;
	font-weight: 300;
	text-align: center;
	text-shadow: none;
}

.button.go-to-map-button {
	position: static;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	margin-right: 39%;
	margin-left: 39%;
	padding: 20px 1% 18px;
	float: none;
	border: 4px solid #b2aba1;
	background-color: transparent;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	direction: rtl;
	font-family: 'Narkisblock regular', sans-serif;
	color: #32312e;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
}
.button {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 4px 15px;
	float: right;
	background-color: black;
	color: white;
	text-align: center;
	text-decoration: none;
	color: #333 !important;
}
.button.go-to-map-button:hover {
	background-color: #3f3d39 !important;
	box-shadow: none;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	-webkit-transition: none 0ms ease;
	transition: none 0ms ease;
	color: #fff4e7 !important;
	text-shadow: none;
}
.button.go-to-map-button:active {
	border-color: #3f3d39;
	box-shadow: none;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.button-wrapper {
	position: relative;
	left: 0px;
	top: 104px;
	right: 0px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	float: none;
	direction: rtl;
	text-align: center;
	list-style-type: none;
}

#mapTop {
	width: 100%;
	height: 150px;
	background-color: #3f3d39 !important;
	position: relative;
	display: block;
}

#mapPage {
	width: 100%;
	height: 100%;
}

#page_map_head {
	/*width: 100%;*/
}
#mapLogo {
	width: 300px;
	height: 80px;
	float: right;
	display: inline-block;
	background-image: url(../images/Intro_Titleback.svg);
	background-size: 180px 160px;
	background-repeat: no-repeat;
	background-position: right;
	position: relative;
	z-index: 1;
	margin-right: 2%;
	margin-top: 2%;
}
#categoriesLinks {
	width: 60%;
	/*height: 100%;*/
	float: left;
	display: inline-block;
	position: relative;
	z-index: 1;
	margin: 2%;
}

.category-toggles-items {
	position: static;
	display: block;
	margin-top: 8px;
	margin-right: 10px;
	margin-left: 20px;
	float: left;
}

.toggle-item {
	display: inline-block;
	width: 46px;
	margin-top: -4px;
	margin-right: 13px;
	float: right;
	text-shadow: none;
}

.category-filter-idle {
	display: block;
	width: 30px;
	height: 30px;
	margin-top: 21px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	border: 2px solid #32312e;
	background-color: #32312e;
	text-align: right;
}

.selected {
	opacity: 1 !important;
}
.category-filter-idle.briut-idle {
	background-color: #ef695b;
	opacity: 0.15;
}
.category-filter-idle.briut-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.briut-idle.selected {
	opacity: 1;
}
.category-filter-idle.shikun-idle {
	background-color: #e7d14c;
	opacity: 0.15;
}
.category-filter-idle.shikun-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.haganat-sviva-idle {
	background-color: #60db97;
	opacity: 0.15;
}
.category-filter-idle.haganat-sviva-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.haganat-sviva-idle.selected {
	opacity: 1;
}
.category-filter-idle.revaha-idle {
	background-color: #37b099;
	opacity: 0.15;
}
.category-filter-idle.revaha-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.bitahon-idle {
	background-color: #5291c6;
	opacity: 0.15;
}
.category-filter-idle.bitahon-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.bitahon-idle.selected {
	opacity: 1;
}
.category-filter-idle.tarbut-idle {
	background-color: #c67397;
	opacity: 0.15;
}
.category-filter-idle.tarbut-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.tahbura-idle {
	background-color: #ffbc47;
	opacity: 0.15;
}
.category-filter-idle.tahbura-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.tahbura-idle.selected {
	opacity: 1;
}
.category-filter-idle.pnim-idle {
	background-color: #fbbe67;
	opacity: 0.15;
}
.category-filter-idle.pnim-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.dat-idle {
	background-color: #9bd0bb;
	opacity: 0.15;
}
.category-filter-idle.dat-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.haklaut-idle {
	background-color: #aed65e;
	opacity: 0.15;
}
.category-filter-idle.haklaut-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.klitat-aliya-idle {
	background-color: #40b4d1;
	opacity: 0.15;
}
.category-filter-idle.klitat-aliya-idle:hover {
	opacity: 0.8;
}
.category-filter-idle.hinuh-idle {
	background-color: #6fb971;
	opacity: 0.15;
}
.category-filter-idle.hinuh-idle:hover {
	opacity: 0.8;
}
.category-toggle-name {
	margin-top: 8px;
	margin-bottom: 0px;
	direction: rtl;
	font-family: 'NarkisBlock Thin', sans-serif;
	color: #b2aba1;
	font-size: 13px;
	line-height: 14px;
	font-weight: 400;
	text-align: center;
	list-style-type: none;
}

/*8
 #mapContent{
 width: 100%;
 height: 80%;
 display: block;;
 }

 #zoom_map {
 background-color: #95CDFD;
 }

 #map {
 position: relative;
 width: 80%;
 height: 80% !important;
 float: left;
 margin-top: -4% !important;
 }
 .settings{
 float:right;
 }
 #settings{

 }
 #diagramTitle {
 top: 50%;
 right: 0%;
 /* width: 300px; */
/* height: 300px; */
/* z-index: 500;
 position: absolute;
 }

 #diagram {
 top: 5%;
 /right: -6%;
 /* width: 300px; */
/* height: 300px; */
/* z-index: 500; */
/*position: absolute;
 }

 .clear {
 clear: both;
 }

 */