body, html {
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	direction: rtl;
}
body {
	font: 10px sans-serif;
}
#wrapper {
	display: block;
	margin: auto;
}
#zoom_map {
	background-color: #95CDFD;
}

#map { 
	position: relative;
	width: 75%;
	float: left;
}

#mapPage{
	background-color: #fef6ea;
}

#mapData{
	width: 2%;
}
.settings{
	float:right;
}
#settings{

	border-style: solid;
	border-color: #b2aba1;
	border-left-width: 2px;
	background-color: #fef6ea;


}

#selectable{
	margin: 0 auto;
}
#diagramTitle {
	top: 50%;
	right: 0%;
	/* width: 300px; */
	/* height: 300px; */
	/* z-index: 500; */
	position: absolute;
}

#diagram {
	top: 5%;
	/*//right: -6%;*/
	/* width: 300px; */
	/* height: 300px; */
	/* z-index: 500; */
	/*position: absolute;*/
}

.clear {
    clear: both;
}