body, html {
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
}
body {
	font: 10px sans-serif;
}
#zoom_map {
	background-color: #95CDFD;
}

#map { 
	position: relative;
	width: 80%;
	float: left;
}

#settings{
	float:right;
}

#diagramTitle {
	top: 50%;
	right: 0%;
	/* width: 300px; */
	/* height: 300px; */
	/* z-index: 500; */
	position: relative;
}

#diagram {
	top: 50%;
	right: 0%;
	/* width: 300px; */
	/* height: 300px; */
	/* z-index: 500; */
	//position: relative;
}

.clear {
    clear: both;
}
